<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Account Verification</title>
    <style>
      body { font-family: Arial, sans-serif; background-color: #f4f4f4; color:
      #333; margin: 0; padding: 0; } .container { max-width: 600px; margin: 20px
      auto; padding: 20px; background-color: #ffffff; border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); } .header { display: flex;
      align-items: center; margin-bottom: 20px; } .header img { max-width:
      120px; margin-right: 20px; } .header h1 { margin: 0; font-size: 24px;
      color: #007d53; } .content { margin-bottom: 20px; font-size: 16px; }
      .content p { margin: 0 0 10px; } .otp-code { font-size: 48px; font-weight:
      bold; color: #007d53; text-align: center; margin: 20px 0; padding: 15px;
      border-radius: 5px; } .footer { font-size: 14px; color: #777; text-align:
      center; } .footer p { margin: 0; } .footer a { color: #007d53;
      text-decoration: none; } .footer a:hover { text-decoration: underline; }
    </style>
  </head>
  <body>
    <div class='container'>
      <div class='header'>
        <img src='../../../assets/logo-full.png' alt='Nemsa Logo' />
      </div>
      <div class='content'>
        <p>Hi {{name}},</p>
        <p>
          To verify your account, please use the following One-Time Password
          (OTP):
        </p>
        <div class='otp-code'>{{otp}}</div>
        <p>
          This OTP code will expire in 10 minutes. If you did not request this
          verification, please ignore this email.
        </p>
        <p>
          If you encounter any issues or have questions, feel free to reach out
          to our support team.
        </p>
        <p>Best regards,<br />The Nemsa Team</p>
      </div>
      <div class='footer'>
        <p>&copy; 2024 Nemsa. All rights reserved.</p>
        <p>
          <a href='[Unsubscribe Link]'>Unsubscribe</a>
          |
          <a href='[Support Link]'>Support</a>
        </p>
      </div>
    </div>
  </body>
</html>